// @import url('https://rsms.me/inter/inter.css');
@import "../fonts/style.css";

html {
  font-family: "HKGrotesk-Regular", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "HKGrotesk-Regular", sans-serif;
  }
}
